<div ng-include="'components/navbar/navbar.html'"></div>

<md-content layout="column" layout-padding flex layout-align="center center">
  <form name="room" layout="row" flex-sm="90" flex-gt-md="50" flex-gt-lg="35">
    <div>
      <md-input-container flex>
        <label>Room Code</label>
        <input ng-model="roomCode">
      </md-input-container>
    </div>
    <div layout="column" layout-align="center center">
      <md-button class="md-raised" layout-margin ng-click="go()" flex="50">GO</md-button>
      <!-- <md-button class="md-raised" layout-margin ui-sref="room" ui-sref-options="{code: roomCode}" flex="50">GO</md-button> -->
    </div>
  </form>
  <br><br><br>
  <div class="new-room">
    or <a ng-click="newRoom($event)">create a new one</a>
  </div>
</md-content>
